<footer>
    <div class="ink-container">
        <div class="ink-l75">
        <nav class="ink-navigation">
            <ul class="ink-footer-nav">
                <li><a href="/about.html">About me</a></li>
                <li><a href="/github/2013/03/10/markdown.html">Markdown语法参考</a></li>
                <li><a href="#">RSS</a></li>
            </ul>
        </nav>
        <p class="copyright">
        Powered by <a href="https://github.com" target="_blank">GitHub</a> and <a href="http://ink.sapo.pt" target="_blank">Ink</a>
        </p>
        </div>
        <div class="ink-l25">
        </div>
    </div>
</footer>