<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="cache-control" content="no-cache">
  <meta http-equiv="expires" content="0">
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>XThinking: {{ page.title }}</title>
    
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/ink-3.0.5/css/ink.css">
		
    <!--[if lt IE 9 ]>
        <link rel="stylesheet" href="/ink-3.0.5/css/ink-ie.min.css" type="text/css">
    <![endif]-->
		
    <link rel="stylesheet" href="/xthinking.css">
        
    <script src="/google-code-prettify/run_prettify.js?skin=rain"></script>
    <script src="/js/generated_toc.js"></script>
</head>
<body>
    
    {% include header.html %}
    
    <div class="ink-grid top-space">
            <div class="column-group horizontal-gutters">
                <div class="all-75">
                        <p>{{ content }}</p>
                </div>
                <div class="all-25 noprint">
                        {% include category_list.html %}
                </div>
            </div>
            <div class="column-group">
                <div class="all-100">
                    <hr/>
                </div>
            </div>
    </div>
    
    {% include footer.html %}

</body>
</html>

