<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>XThinking: {{ page.title }}</title>
    
    <!-- Stylesheets -->
    <link rel="stylesheet" href="./css/ink.css">
		
    <!--[if IE]>
      <link rel="stylesheet" href="./css/ink-ie.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <![endif]-->
		
</head>
<body>
    <header class="ink-container ink-for-l">
        <div class="ink-vspace">
            <h1 class="">Extreme Thinking</h1>
            <p>大道至简</p>
        </div>
    </header>
    
    <nav class="ink-container ink-navigation">
        <ul class="horizontal menu">
            <li class="active">
                <a href="#">首页</a>
            </li>
            <li>
                <a href="#">博客</a>
            </li>
            <li>
                <a href="#">分类</a>
            </li>
            <li>
                <a href="#">关于</a>
            </li>
        </ul>
    </nav>
    
    <div class="ink-container ink-vspace">
        <br/><br/><br/><br/><br/><br/><br/>
        <h4>网站建设中。。。</h4>
        <p>please contact <a href="mailto:rainzhaojy@gmail.com">rainzhaojy@gmail.com</a> if anything</p>
        <br/><br/><br/><br/><br/><br/><br/>
    </div>
    
    <footer>
        <div class="ink-container">
            <p class="copyright">
            Powered by GitHub
            </p>
        </div>
    </footer>

</body>
</html>

