<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>XThinking: {{ page.title }}</title>
        
        <!-- Stylesheets -->
        <link rel="stylesheet" href="/css/ink.css">
            
        <!--[if IE]>
            <link rel="stylesheet" href="/css/ink-ie.css" type="text/css" media="screen" title="no title" charset="utf-8">
        <![endif]-->
            
        <style type="text/css" media=print>
            .noprint{ display : none }
        </style>
            
        <script src="/google-code-prettify/run_prettify.js?skin=sunburst"></script>
    </head>
    <body>
        {% assign whereami = 'blog' %}
        {% include header.html %}
        
        <div class="ink-container ink-vspace">
            <div class="ink-row">
                <div class="ink-l75">
                    <div class="ink-gutter">
                        <h2>{{ page.title }}</h2>
                        <p><i class="icon-edit"></i> {{ page.date | date:"%Y-%m-%d" }}</p>
                        <hr/>
                        <p>{{ content }}</p>
                    </div>
                </div>
                <div class="ink-l25 noprint">
                    <div class="ink-gutter">
                        {% include category_list.html %}
                    </div>
                </div>
            </div>
        </div>
        
        {% include footer.html %}
        
    </body>
</html>
